body {
    background-color: gray;
}

button {
    width: 8rem;
    height: 8rem;
    font-size: 5rem;
    transition: 0.5s ease;
}
button:hover {
    background-color: red;
}

.result {
    font-size: 2rem;
}